.overviewul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .overviewli {
    display: flex;
    flex-direction: column;

    .overviewtitle {
      font-size: 0.1406rem;
    }
    .overviewi {
      display: inline-block;
      width: 0.0521rem;
      height: 0.0521rem;
      background-color: blue;
      border-radius: 0.2083rem;
    }
    .overviewname {
      font-size: 0.0833rem;
      color: #4c9bfd;
    }
  }
}

.column {
  flex: 3;

  .overview {
    height: 0.5729rem;
  }

  .penster {
    border-image: url('@/assets/images/border.png');
    border-image-width: 0.2604rem 0.3385rem 0.125rem 0.6979rem;
    border-image-slice: 56 44 39 140;
    position: relative;
    //  padding: .1042rem .1042rem;
    margin-bottom: 0.1042rem;
  }
  .panel {
    border-image: url('@/assets/images/border.png');
    border-image-width: 0.2604rem 0.3385rem 0.125rem 0.6979rem;
    border-image-slice: 56 44 39 140;
    position: relative;
    padding: 0.1042rem 0.1042rem;
    margin-bottom: 0.1042rem;
    .chart {
      display: flex;
      justify-content: space-between;
      margin-top: 0.21rem;
      .pie {
        flex: 8;
        height: 1.25rem;
      }
      .data {
        flex: 2;
        background: url('@/assets/images/rect.png') no-repeat top left / cover;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.0521rem 0.1563rem;
        .datatitlte {
          margin: 0.0365rem 0;
          .h3set {
            font-size: 0.1146rem;
            font-weight: 0;
          }
        }
        .dataspan {
          margin-top: 0.0781rem;
          display: flex;
          align-items: center;
          .datastitlerer {
            display: block;
            width: 0.0521rem;
            height: 0.0521rem;
            background-color: #68d8fe;
            border-radius: 100%;
            margin-right: 0.0365rem;
          }
          .datatitle {
            color: #61a8ff;
            font-size: 0.0729rem;
          }
        }
      }
    }
  }

  .inner {
    padding: 5px 5px;
    box-sizing: border-box;
  }

  .monitor {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.1042rem 0;
    overflow: hidden;
    .monitorbox {
      flex: 1;
    }
    .tabs {
      text-align: left;
      display: flex;
      // align-items: center;
      // margin-bottom: 0.0938rem;
      padding: 0.1042rem 0.1042rem;
      span:last-child {
        // color: #fff;
        margin-left: 0.1042rem;
        padding: 0 0.1146rem;
        border-left: 0.0104rem solid #68d8fe;
      }

      .tabsactive {
        color: blue;
      }

      span {
        display: inline-block;
        padding: 0;
        color: white;
        padding: 0 0.0521rem;
        text-align: left;
      }
    }
    .content {
      display: flex;
      flex: 1;

      //  background-color: red;
      .head {
        padding: 0 0.16rem;
        box-sizing: content-box;
        display: flex;
        line-height: 0.1806rem;
        justify-content: space-between;
        //  background: rgba(130, 133, 132, 0);
        // background: rgba(255,1255,0,0.5);
        background-color: rgba(255, 255, 255, 0.3);

        .col {
          font-size: 0.0677rem;
          color: #68d8fe;
        }
        .col:nth-child(2) {
          width: 0.5729rem;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .marquee-view {
        width: 100%;
        flex: 1;
        overflow: hidden;
        margin-bottom: 20px;
        .row {
          position: relative;
          display: flex;
          flex: 1;
          padding: 0 0.16rem;
          justify-content: space-between;
          font-size: 0.0677rem;
          line-height: 0.2rem;
          color: #61a8ff;
          span:nth-child(3) {
            width: 0.2188rem;
          }
        }
        .row:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }
        .row:hover .rowset {
          opacity: 1;
        }
        .rowset {
          position: absolute;
          left: 8px;
          top: 11px;
          opacity: 0;
          width: 0.0521rem;
          height: 0.0521rem;
          background: rgb(0, 26, 255);
          border-radius: 100%;
        }
      }
    }
  }

  .point {
    height: 1.7708rem;
    .chart {
      display: flex;
      justify-content: space-between;
      margin-top: 0.0521rem;
      .pie {
        flex: 7;
        height: 1.25rem;
      }
      .data {
        flex: 3;
        background: url('@/assets/images/rect.png') no-repeat;
        background-size: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.0521rem 0.1563rem;
        .datatitlte {
          margin: 0.0365rem 0;
          .h3set {
            font-size: 0.1146rem;
            font-weight: 0;
          }
        }
        .dataspan {
          margin-top: 0.0781rem;
          display: flex;
          align-items: center;
          .datastitlerer {
            display: block;
            width: 0.0521rem;
            height: 0.0521rem;
            background-color: #68d8fe;
            border-radius: 100%;
            margin-right: 0.0365rem;
          }
          .datatitle {
            color: #61a8ff;
            font-size: 0.0729rem;
          }
        }
      }
    }
  }

  .order {
    height: 0.7813rem;
    .filter {
      display: flex;

      .filtertitle {
        color: #4c9bfd;
        font-size: 14px;
        padding: 0px 13px;
        border-right: 2px solid #68d8fe;
      }
      .setactive {
        color: white;
        font-size: 0.1042rem;
      }
      .filtertitle:last-child {
        border-right: none;
      }
    }
    .orderdata {
      margin-top: 0.1042rem;
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      padding: 0 10px;
      .orderdatabox {
        width: 50%;
      }
      .ordertitle {
        margin-top: 0.026rem;
        display: flex;
        align-items: center;
        .tittt {
          width: 0.0521rem;
          height: 0.0521rem;
          border-radius: 100%;
          background-color: #68d8fe;
          margin-right: 0.0365rem;
        }
        .routername {
          font-size: 0.0833rem;
          color: #61a8ff;
        }
      }
    }
  }

  .sales {
    height: 1.2917rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .salesdata {
      display: flex;
      align-items: center;
      h3 {
        padding-right: 0.0781rem;
        border-right: 0.0052rem solid #68d8fe;
      }
      .salestitle {
        margin-left: 0.1302rem;
      }
      .saleeactive {
        padding: 5px 5px;
        background-color: #4c9bfd;
      }
    }
    .chartselad {
      display: flex;
      height: 100%;
      width: 100%;
      // background-color: red;

      .line {
        flex: 1;
        // background-color: red;
      }
    }
  }

  .wrap {
    display: flex;

    .channel {
      flex: 1;
      height: 1.2083rem;
      margin-right: 0.1042rem;
      padding: 0.1042rem 0.1042rem;
      display: flex;
      flex-direction: column;
    }
    .radar {
      flex: 1;
    }
    .quarter {
      flex: 1;
      height: 1.2083rem;
      padding: 0.1042rem 0.1042rem;
      display: flex;
      flex-direction: column;
      .quarterbie {
        flex: 3;
        position: relative;
      }
      .quarterbox {
        flex: 3;
        display: flex;
        justify-content: space-between;
        margin-top: 0.0521rem;
        .boxetser {
          display: flex;
          flex-direction: column;
          line-height: 0.1927rem;
          .boxserter {
            display: flex;
            flex-direction: column;
          }
        }
      }
      .potingauge {
        font-size: 0.1042rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .top {
    height: 1.4583rem;
    padding: 0.1042rem 0.1042rem;
    display: flex;
    justify-content: space-between;
    .lefttop {
      flex: 4;
      display: flex;
      flex-direction: column;
      .lefttopul {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        li {
          display: flex;
          align-items: center;
        }
        .headimg {
          width: 0.2083rem;
          height: 0.2083rem;
          margin-right: 0.1042rem;
        }
      }
    }
    .righttop {
      flex: 6;
      .righttopul {
        margin-top: .1042rem;
        display: flex;
        justify-content: space-between;
        flex: 1;
        .sup:nth-child(2) {
          margin-left: 0.0521rem;
          color: #68d8fe;
          // padding: 0 .0521rem;
          background-color: rgba(255, 255, 255, 0.1);
        }
        ul:nth-child(1)> li:hover {
          color: white;
          background-color: rgba(255, 255, 255, 0.5);
        }
        .sup {
          flex: 1;
          display: flex;
          color: #4c9bfd;
          flex-direction: column;
          justify-content: space-between;
        }

        ul > li {
          display: flex;
          font-size: 0.0677rem;

          line-height: 0.1927rem;
          justify-content: space-between;
          position: relative;
          .sopspan {
            position: absolute;

            width: 0.0521rem;
            height: 0.0521rem;
            color: red;
          }
        }
      }
    }
  }
}
